<h4>
    Hello Home!!!
</h4>

<section id="feed-post">
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" rows="3" cols="20" placeholder="type here...">
        </textarea>
        <input type="submit" value="Post">
    </form>
</section>